<div class="centerDiv">
  <main class="form-signin w-100 m-auto">

    <div style="display: flex; flex-direction: row; justify-content: center;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/640px-Angular_full_color_logo.svg.png" width="200" height="200" alt="">
    </div>

    <h1 class="h3 mb-3 fw-normal">Inscreva-se</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="formUsuario.email">
        <label for="floatingInput">Endereço de Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="formUsuario.senha">
        <label for="floatingPassword">Senha</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me">Lembrar
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="login()">Entrar</button>

      <p class="vermelho" *ngIf="isLogged">{{ mensagem }}</p>
  </main>
</div>
