.centerDiv {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 5.5% auto;
}

.mb-4 {
  width: 500px;
  height: 350px;
}

.vermelho {
  color: red;
}

.form-floating {
  margin-bottom: 10px;
}
